name: Main branch, Test environment deployment
env:
    API_TOKEN: ${{ secrets.API_TOKEN }}
    LIVE_ENVIRONMENT_UUID: ${{ secrets.LIVE_ENVIRONMENT_UUID }}
on:
 push:
  branches: [ main ]

jobs:
 deploy:
  runs-on: ubuntu-latest
  steps:
  - uses: actions/checkout@v3
  - name: Deploy
    run: |
     curl -X POST --data "environment=$LIVE_ENVIRONMENT_UUID" --header "Authorization: Token $API_TOKEN" https://api.divio.com/apps/v3/deployments/
